<%- model_class = Trip -%>
<div class="modal-header">
  <h5>Add Collaborator</5>
</div>
<div class="modal-body">
  <div>
    <div class="row">
      <input type="text" placeholder="name of collaborator" name="users" id="user_name">
      <button id="add_user" class="btn btn-primary">Add User</button>
    </div>
  </div>
    <script>
      var url = "<%= add_collaborator_trip_path(:id => @trip.name) %>"
      $(function(){
        $('#add_user').click(function(){
          $.ajax({
            url:url,
            data: {
              user: $('#user_name').val()
            },
            contentType: 'application/json; charset=utf-8',
            success: function(){
              console.log('There was success in adding user');
            },
            error: function(err){
              console.log('Tehre was an error in adding the user ',err);
            }
          })
        });
      })
    </script>
</div>


