  <h1 class="post-title text-center hyper lighter" id="post_title" contenteditable="true"><%=@blog.title%></h1>
  <div class="post-info text-center bordered-top col-md-2">
      <time datetime="2013-10-24" class="post-time"><%=@blog.created_at%></time>
       on <span class="post-tags">design, ghost</span>
  </div>
  <div class="post-body bordered-bottom col-md-8" id="post_description">
        <%= raw @blog.description%>    
  </div>