<div class="col-sm-9">
	<p id="notice"><%= notice %></p>

	<p>
	  <strong>Name:</strong>
	  <%= @itenary.name %>
	</p>

	<p>
	  <strong>Description:</strong>
	  <%= @itenary.short_description %>
	</p>

	<p>
	  <strong>Mode:</strong>
	  <%= @itenary.mode %>
	</p>
</div>
