<%- model_class = "timeline" -%>
<div class="col-sm-9">
  <div id="my-timeline" class="col-sm-12"></div>
  <script>
      console.log('The value of this url is '+'<%= trip_folder_path(:trip_id => @trip.name, :id => @folder.name)%>')
      var url = '<%= trip_folder_path(:trip_id => @trip.name, :id => @folder.name)%>'+'/timeline.json'
      var data = {
        timeline:{
          "headline": "Trip to #{@trip.name}",
          "type": "default",
          "text": "#{@trip.description}",
          "date": [
                {
                    "startDate":"2011,12,10",
                    "endDate":"2011,12,11",
                    "headline":"Headline Goes Here",
                    "text":"<p>Body text goes here, some HTML is OK</p>",
                    "tag":"This is Optional"
                }
            ],
            "era": [
                {
                    "startDate":"2011,12,10",
                    "endDate":"2011,12,11",
                    "headline":"Headline Goes Here",
                    "text":"<p>Body text goes here, some HTML is OK</p>",
                    "tag":"This is Optional"
                }

            ]
        }
      }
      $(document).ready(function() {
          createStoryJS({
              type:       'timeline',
              width:      '800',
              height:     '600',
              source:     url,
              embed_id:   'my-timeline'
          });
      });
  </script>
</div>

