<div class="col-sm-9">
  <div class="row">
    <div class="col-sm-12 reminder-heading">
      <div class="col-sm-2">
          <h5>Reminders</h5>
      </div>
    </div>
    <% @folder.reminders.each do |reminder| %>
      <% if reminder.sent == 0 %>
        <div class="col-sm-12 plan-list-border cursor-pointer pjax_links reminder-box" data-folder-path="<%=trip_folder_reminder_path(:trip_id => @trip.name,:folder_id => @folder.name, :id => reminder.name)%>" >
          <div class="col-sm-1">
            <i class="fa-calendar fa "></i>
          </div>
          <div class="col-sm-9">
            <p><%= reminder.name.capitalize %></p>
            <p><%= reminder.description %></p>
          </div>
          <div class="col-sm-1">
            <i class="fa-circle fa fa-2x"></i>
          </div>
        </div>
      <% end %>
    <% end %> 
  </div>
  <div class="row reminder-new-div">
    <div class="col-sm-12">
      <button  class="btn btn-default modal_link" data-folder-path="<%=new_trip_folder_reminder_path(:trip_id => @trip.name, :folder_id => @folder.name)%>" >
        <i class="fa fa-calender"></i> New Reminder
      </button>
    </div>
  </div>
</div>
<script>
  $(function(){
    $('.reminder-box').hover(function(){
      $(this).addClass('reminder-well');
    },function(){
      $(this).removeClass("reminder-well");
    })
  })
</script>
