<!-- <div id="magazine">
    <div><span class="text">Page 1</span></div>
    <div><span class="text">Page 2</span></div>
    <div><span class="text">Page 3</span></div>
</div> -->
  <% if album %>
      <div class="photo-div col-sm-4 album-view cursor-pointer" data-album="<%=album%>">
        <div class="row">
          <h5>Album - <%= album %></h5>
        </div>
        <div class="row">
            <img src="<%= photo.image_url(:display) if photo.image? %>" class="col-12" />
        </div>
      </div>
  <% end %>
 
