<div class="row gallery-img">
  <% album_photos.each do |photo| %>

    <div class="col-xs-4 ">
      <a href='<%= photo.image_url() if photo.image? %>' data-lightbox="<%= photo.album ? photo.album : "default" %>"><img src="<%= photo.image_url(:display) if photo.image? %>" class="col-xs-12 img-responsive"  /></a>
    </div>
  <% end %>
    <div class="col-xs-4">
      <div class="panel panel-default ">
        <div class="panel-body">
            New Description
            <%= link_to new_trip_folder_photo_path(:trip_id => @trip.name, :folder_id => @folder.name), :method => :get, :class => '', :title => "#{ t('.show', :default => t('helpers.links.show')) }" do %>
               <i class="fa fa-plus fa-2x"></i>
            <%- end -%>
        </div>
        <div class="panel-footer">Panel footer</div>
      </div>
    </div>
</div>