<%- model_class = Photo -%>
<div class="col-sm-9 ">
  <% @photos.each do |album,album_photos| %>
    <h3><%= album ? album : "Default" %></h3>
    <%= render "album" ,  :album_photos => album_photos %>
  <% end %>
</div>
