<%- model_class = Photo -%>
<div class="col-sm-12 ">
  	<% @photos.each do |album,album_photos| %>
    	<%= render "album" ,  :album_photos => album_photos , :album => album %>
  	<% end %>
  	<div class="col-sm-2 new-picture">
		<a type="button" class="btn btn-default pjax_links" data-folder-path="<%=new_trip_folder_photo_path(:trip_id => @trip.name, :folder_id => @folder.name)%>">
	      <i class="fa fa-plus"></i> New Picture
	    </a>
	</div>
</div>
<script>
	$(function(){
		$(document).on('click','.album-view',function(){
			var url = "<%=album_photos_trip_folder_photos_path(:trip_id => @trip.name, :folder_id => @folder.name)%>"
			url = url+"?album="+$(this).attr("data-album");
	         console.log('The value of the uel is ',url);
	        $('#myModal').modal({
	          remote: url
	        });
		});
	});
</script>

