<!DOCTYPE html>
<html>
  <head>
    <meta content='text/html; charset=UTF-8' http-equiv='Content-Type' />
  </head>
  <body>
    <h1>Hi <%= @user.username %></h1>
    <p>
      This is you reminder<br>
    </p>
    <p>
      <%= @reminder.description %>
    </p>
    <p>Thanks you and have a great day!</p>
  </body>
</html>