.top-margin{

	.post-form-medium{
		margin-bottom: 40px;
		outline: 0px solid transparent;
		font-family: "freight-text-pro",Georgia,Cambria,"Times New Roman",Times,serif;
		letter-spacing: 0.01rem;
		font-weight: 400;
		font-style: normal;
		font-size: 22px;
		line-height: 1.5;	
		p{
			font-family: "freight-text-pro",Georgia,Cambria,"Times New Roman",Times,serif;
			letter-spacing: 0.01rem;
			font-weight: 400;
			font-style: normal;
			font-size: 22px;
			line-height: 1.5;	
		}
		
	}
}

.descriptionbg{
	background-color: white;
}

.nooutline{
	border: 0px solid transparent;
}