// Place all the styles related to the discussions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.comment-body{
    min-height: 70px !important;
}

.discussion-img{
    margin-top: 20px !important;
    margin-bottom: auto !important;
}

#discussion-thread{
    margin-top: 20px;
}