// Place all the styles related to the itenaries controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.plan-height{
	height: 50px !important;
	max-height: 50px;
}
.plan-height.plan-description{
	min-height: 50px;
	max-height: 50px;
	overflow: auto;
}
.plan-timing{
	background-color: #eceef1;
	p{
		font-size: 12px;
	}
}
.plan-list-border{
	border: 1px solid #E4E5E6;
}