<p id="notice"><%= notice %></p>

<p>
  <strong>Date time:</strong>
  <%= @plan.date_time %>
</p>

<p>
  <strong>Name:</strong>
  <%= @plan.name %>
</p>
<p>
  <strong>Short description:</strong>
  <%= @plan.short_description %>
</p>

